/*
Rainbow Indigo (#13286B) 
Han Blue (#3870BD) 
United Nations Blue (#529EE9) 
Very Pale Yellow (#FDFAC3) 
Maximum Yellow Red (#F8B54C)
Metallic Bronze (#AB7D41)
*/


:root {
--shadow-dark: 1rem 1rem 1.7rem rgba(0, 0, 0, .7);
--pale-yellow: #FDFAC3;
--han-blue: #3870BD;
--bronze: #AB7D41;
--indigo: #13286B;
--yellow-red: #F8B54C;
}


body {
    background-color: var(--yellow-red);
}


.navbar {
    background: url(../images/sky.jpg);
    background-size: cover;
    color: var(--pale-yellow);
    text-transform: uppercase;
}

.jumbotron {
    background: url(../images/sky.jpg);
    background-size: cover;
    color: var(--yellow-red);
}
  .title-main {
    animation: moveInRight 1s ease-out;
  }

  .title-sub {
    animation: moveInLeft 1s ease-out;
  }

  .parent {
    backface-visibility: hidden;
    color: var(--yellow-red)
  }


.nav-link::before {
    content: "";
    position: absolute; /* positioned in relation to 'parent' __item */
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--pale-yellow);
    transform: scaleY(0);
    transition: transform .2s, 
                width .4s cubic-bezier(1, 0, 0, 1) .2s,
                background-color .1s;
}
.nav-link:hover::before {
    transform: scaleY(1);
    width: 100%;
}


.nav-link:link,
.nav-link:visited {
    color: var(--pale-yellow);
    text-transform: uppercase;
    position: relative;     
}

.nav-link:hover{
    color: var(--bronze);
}



  

.intro-left{
        background: url(../images/sky.jpg);
        background-size: cover;
        color: var(--pale-yellow);
    }
   
 

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }
}

.avatar {
    width: 10rem;
    height: 10rem;
    border: .05rem solid var(--yellow-red);
    border-radius: 50%;
    margin: 1rem;
}

.full-height {
    height: 100%;
}

.quote {
    float: right;
}
.blockquote-footer {
    color: var(--indigo) !important;
}

.figcaption {
    color: var(--yellow-red)
}




.btn {
    color: var(--bronze) !important;
    background-color: var(--pale-yellow) !important;
    border-color: var(--indigo);
    border-radius: 100px;
    margin-bottom: 5px;
}
.btn:active{
    background-color: var(--bronze) !important;
}
  .background {
    background-color:  var(--han-blue);
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    clip-path: polygon(100% 0, 6% 0, 31% 100%, 0 32%, 65% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 46%, 52% 0, 28% 6%);
  }

  .img-container {
    box-shadow: var(--shadow-dark);
    transition: all 1s;
  }

  /*1rem 1rem 1.7rem rgba(0, 0, 0, .7); initial state */
  .project-link:hover { 
    transform: translateY(-3px);  /* moves up on hover*/
    /* offset-x | offset-y | blur-radius | *no spread-radius | color */
    box-shadow: 1.5rem 1.5rem 2.2rem rgba(0, 0, 0, .65);  /*shadow grows on hover*/
    transition: all .5s;    
  }
  .project-link:active {
 /*when clicked*/
        transform: translateY(-0.1rem);/*lower than hover, lower than initial state */
        box-shadow: 0rem 0rem 1.2rem rgba(.5, .5, .5, 1);  /*shadow decreases from hover*/
        transition: all .1s;
  }


  /* clip-path: polygon(36% 0, 95% 0, 65% 100%, 18% 100%); */

  @media (min-width: 768px){
    .jumbotron {
        padding-top: 3rem;
        background: url(../images/sky.jpg);
        background-size: cover;
        position: fixed;
        left: 0;
        width: 33.3333%;
        height: 100%;
        color: white;
    } 
    .navbar {
        position: fixed;
        display: flex;
        align-items: baseline;
        width: 33.3333%;
        height: 25%;
        top: 25rem; 
        background: none;
       
    }
    .links  {
        flex-direction: column;
    }
}
