
:root {
--shadow-dark: 1rem 1rem 1.7rem rgba(0, 0, 0, .7);
}





.navbar {
    background: url(../images/sky.jpg);
    background-size: cover;
    color: white;
    text-transform: uppercase;
}

.jumbotron {
    background: url(../images/sky.jpg);
    background-size: cover;
    color: white;
}
  .title-main {
    animation: moveInRight 1s ease-out;
  }

  .title-sub {
    animation: moveInLeft 1s ease-out;
  }

  .parent {
    backface-visibility: hidden;
  }


  
  .nav-link {
    color: #f4f4f4;
    cursor: pointer; 
}
  
.nav-link:hover,
.nav-link:active {
    color: white;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 100px;
     }
  

    .intro-left{
        background: url(../images/sky.jpg);
        background-size: cover;
        color: white;
    }
   

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }
}

.avatar {
    width: 10rem;
    height: 10rem;
    border: .05rem solid #E9E9E9;
    border-radius: 50%;
    margin: 1rem;
}

.full-height {
    height: 100%;
}

.quote {
    float: right;
}



.footer {
    background-color: #fff;
    font-size: 1rem;
    margin: 0;
  }

  .background {
    background-color: #eee;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    clip-path: polygon(100% 0, 6% 0, 31% 100%, 0 32%, 65% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 46%, 52% 0, 28% 6%);
  }

  .img-container {
    box-shadow: var(--shadow-dark);
    transition: all 1s;
  }

  /*1rem 1rem 1.7rem rgba(0, 0, 0, .7); initial state */
  .project-link:hover { 
    transform: translateY(-3px);  /* moves up on hover*/
    /* offset-x | offset-y | blur-radius | *no spread-radius | color */
    box-shadow: 1.5rem 1.5rem 2.2rem rgba(0, 0, 0, .65);  /*shadow grows on hover*/
    transition: all .5s;    
  }
  .project-link:active {
 /*when clicked*/
        transform: translateY(-0.1rem);/*lower than hover, lower than initial state */
        box-shadow: 0rem 0rem 1.2rem rgba(.5, .5, .5, 1);  /*shadow decreases from hover*/
        transition: all .1s;
  }


  /* clip-path: polygon(36% 0, 95% 0, 65% 100%, 18% 100%); */

  @media (min-width: 768px){
    .jumbotron {
        padding-top: 3rem;
        background: url(../images/sky.jpg);
        background-size: cover;
        position: fixed;
        left: 0;
        width: 33.3333%;
        height: 100%;
        color: white;
    } 
    .navbar {
        position: fixed;
        display: flex;
        align-items: baseline;
        width: 33.3333%;
        height: 25%;
        top: 25rem; 
        background: none;
        background-color: rgba(0, 0, 0, 0);
    }
    .links  {
        flex-direction: column;
    }
    .nav-link:hover,
    .nav-link:active {
        color: white;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 100px;
         }
}
